

    
    <div class= "container">
        <!-- Observações de bootstrap: 
            container-fluid (container na linha toda)
            bg-dark (background)
            my-4 (m=margem, y=eixo, 4=tamanho) Espaço entre linhas.
            colocar row para justificar ao centro.   
            
         -->
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <p>Desenvolvedor</p>
                    </div>

                    <div class="row">
                            <div class="col-xs-4 col-md-4">
                                    <img src="/static/42752881.jpeg" class="img-responsive" alt="" title="" />
                            </div>
                    </div>
                        
                    <div class="card-body">
                        <h3 class="card-title">Jonathan Cardoso</h3>
                        <p class="card-text">Eu crios meus prórpios erros para depois corrigilos, 
                        assim prossigo evoluindo.</p>

                        <div class="btn-group">
                            <a class="btn btn-secondary btn-sm" role="button" target="_blank" href="https://github.com/Jonathan-geo?tab=repositories">GitHub</a> 
                            <a class="btn btn-secondary btn-sm" role="button" target="_blank" href="#">GitLab</a>   
                            <a class="btn btn-secondary btn-sm" role="button" target="_blank" href="#">Twitter</a>  
                        </div>
                    </div>

                    <div class="card-footer">
                            <p>Todos os direitos reservados</p>
                    </div>
                </div>           
            </div>           

            <div class="container bg-dark my-4">
                    <h1 class="row justify-content-center display-4 text-light">Python Flask CRUD - Jonathan Cardoso</h1>
            </div>
        </div>
    </div>