<!DOCTYPE html>
<html lang="pt">


<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Aplicação CRUD</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="shortcut icon" href="{{url_for('static', filename = 'logo.svg' )}}">
</head>



<body>
   

   {% block body %}
   {% include "header.html" %}
   
   <div class="container">
      <div class="row">
      
         

         
         <!--Card-->

         <div class="col-md-3">
            <div class="card">
               <div class="card-header">
                  <p>Desenvolvedor</p>
               </div>

               <div class="row">
                        <div class="col-xs-4 col-md-4">
                              <img src="/static/42752881.jpeg" class="img-responsive" alt="" title="" />
                        </div>
               </div>
                  
               <div class="card-body">
                  <h3 class="card-title">Jonathan Cardoso</h3>
                  <p class="card-text">Eu crios meus prórpios erros para depois corrigilos, 
                  assim prossigo evoluindo.</p>

                  <div class="btn-group">
                        <a class="btn btn-secondary btn-sm" role="button" target="_blank" href="https://github.com/Jonathan-geo?tab=repositories">GitHub</a> 
                        <a class="btn btn-secondary btn-sm" role="button" target="_blank" href="https://gitlab.com/Jonathan-geo?nav_source=navbar">GitLab</a>   
                        <a class="btn btn-secondary btn-sm" role="button" target="_blank" href="https://twitter.com/jonathan_cdso">Twitter</a>  
                  </div>
               </div>

               <div class="card-footer">
                        <p>Todos os direitos reservados</p>
               </div>
            </div>           
         </div>  
          
         

         <!--Lista de Contatos-->
         <div class="col md-9">
            <div>
               <h2 class=float-left>Lista de Contatos</h2>  
               <button type="button" class="btn btn-success  pull-right float-right" data-toggle="modal" data-target="#myModal">Adicionar Estudantes</button>
            </div>

               <!-- Mensagem de sucesso na insersão de dados -->
               {% include "msgem.html" %}


               <!-- TITULO DAS COLUNAS -->
         
            <table class="table table-striped table-hover table-responsive-sm">
                  <tr>
                     <th>Identificação</th>
                     <th>Nome</th>
                     <th>Email</th>
                     <th>Telefone</th>
                  </tr>



                  {% for row in students %}
                  <tr>
                     <td>{{row.0}}</td>
                     <td>{{row.1}}</td>
                     <td>{{row.2}}</td>
                     <td>{{row.3}}</td>

                     <td>
                        <a href="/update/{{row.0}}" class="btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#modaledit{{row.0}}">Editar</a>
                        <a href="/delete/{{row.0}}" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are You Sure For Delete?')">Deletar</a>
                     </td>
                  </tr>
         

                  <!-- MODAL DE UPDATE DATA -->
                  {% include "modup.html"  %}

                  {% endfor  %}

                  

               </table>
         </div>


      
         <!-- MODAL DE ISERT DATA -->
         {% include "modins.html"  %}
      
      
      </div> <!--Fecha Row Principal-->      
   </div> <!--Fecha Conteiner Principal-->


   {% endblock %}

         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

{% include "footer.html" %}

</html>





